{% extends '::backend.html.twig' %}

{% block title %}Modificar la ciudad {{ entity }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('backend_hotel_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="boton" type="submit">Save changes</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_hotel') }}">
            Back to hotel list
        </a>
    </li>
    <li>
        <form action="{{ path('backend_hotel_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete hotel</button>
        </form>
    </li>
</ul>
{% endblock %}
